:root {
}

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	color: white;
}

#root {
	min-height: 100vh;
	position: relative;
	padding-bottom: 150px;
	background-color: rgb(92, 141, 124);
}

.bold {
	font-weight: bold;
}

.d_none {
	display: none;
}

button {
	background-color: black;
}
